@using Music.Views.Shared.Components
@using Music.Views.Shared
@model Music.ViewModels.Song.SongIndexViewModel

<!-- Основное содержимое -->
<div class="container">
    <div class="row">
        <!-- Список треков -->
        <div class="col-lg-8">
            @Html.SongsList(new SongList
            {
                Songs = Model.Songs,
                NameList = "Все песни"
            })
        </div>
    </div>
    @Html.ErrorMessage(@TempData["ErrorMessage"] as string)  
</div>

@await Component.InvokeAsync("Pagination", Model.Pagination)